{% extends "base.html" %}

{% block title %} Exercises {% endblock %}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-header">
                <h5 class="title">Choose a group of exercises to create a cycle</h5>
                <p class="category">(You can also choose one)</p>
            </div>
            <div class="card-body all-icons">
                <div class="row">
                    <div class="card-header">
                        <p class="category">
                            <a href="legs" id="0" >Legs Exercises :</a>
                        </p>
                    </div>
                    <div class="font-icon-list col-lg-2 col-md-3 col-sm-4 col-xs-6 col-xs-6">
                        <div class="font-icon-detail">
                            <a href="exercise01" id="01" >
                                <p>Squats</p>
                            </a>
                        </div>
                    </div>
                    <div class="font-icon-list col-lg-2 col-md-3 col-sm-4 col-xs-6 col-xs-6">
                        <div class="font-icon-detail">
                            <a href="exercise02" id="02">
                              <p>Lateral Leg Raises <br>
                                    (Left SIDE)
                                </p>
                            </a>

                        </div>
                    </div>
                    <div class="font-icon-list col-lg-2 col-md-3 col-sm-4 col-xs-6 col-xs-6">
                        <div class="font-icon-detail">
                            <a href="exercise03" id="03" >
                                <p>Single-leg Glutes</p>
                            </a>

                        </div>
                    </div>
                    <div class="font-icon-list col-lg-2 col-md-3 col-sm-4 col-xs-6 col-xs-6">
                        <div class="font-icon-detail">
                            <a href="exercise04" id="04">
                                <p>Romanion Squats</p>
                            </a>

                        </div>
                    </div>
                    <div class="font-icon-list col-lg-2 col-md-3 col-sm-4 col-xs-6 col-xs-6">
                        <div class="font-icon-detail">

                            <a href="exercise05" id="05">
                                <p> Reverse Lunges
                                </p>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="card-header">
                        <p class="category">
                            <a href="chest" id="1">Chest Exercises :</a>
                        </p>
                    </div>
                    <div class="font-icon-list col-lg-2 col-md-3 col-sm-4 col-xs-6 col-xs-6">
                        <div class="font-icon-detail">

                            <a href="exercise11" id="11">
                                <p>Dumbbell Bench Press</p>
                            </a>
                        </div>

                    </div>
                    <div class="font-icon-list col-lg-2 col-md-3 col-sm-4 col-xs-6 col-xs-6">
                        <div class="font-icon-detail">
                            <a href="exercise12" id="12">
                              <p>Barbell Bench Press</p>
                            </a>

                        </div>
                    </div>
                    <div class="font-icon-list col-lg-2 col-md-3 col-sm-4 col-xs-6 col-xs-6">
                        <div class="font-icon-detail">
                            <a href="exercise13" id="13">
                                <p>ChestFly</p>
                            </a>

                        </div>
                    </div>
                    <div class="font-icon-list col-lg-2 col-md-3 col-sm-4 col-xs-6 col-xs-6">
                        <div class="font-icon-detail">
                            <a href="exercise14" id="14">
                                <p>Dips</p>
                            </a>

                        </div>
                    </div>
                    <div class="font-icon-list col-lg-2 col-md-3 col-sm-4 col-xs-6 col-xs-6">
                        <div class="font-icon-detail">

                            <a href="exercise15" id="15">
                                <p>Push-Ups</p>
                            </a>
                        </div>
                    </div>
                    <div class="font-icon-list col-lg-2 col-md-3 col-sm-4 col-xs-6 col-xs-6">
                        <div class="font-icon-detail">
                            <a href="exercise16" id="16">
                               <p>Wide Push-Ups</p>
                            </a>

                        </div>
                    </div>
                    <div class="font-icon-list col-lg-2 col-md-3 col-sm-4 col-xs-6 col-xs-6">
                        <div class="font-icon-detail">

                            <a href="exercise17" id="17">
                                <p>Diamond Push-Ups</p>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="card-header">
                        <p class="category">
                            <a href="shoulder" id="2">Shoulder Exercises :</a>
                        </p>
                    </div>
                    <div class="font-icon-list col-lg-2 col-md-3 col-sm-4 col-xs-6 col-xs-6">
                        <div class="font-icon-detail">

                            <a href="exercise21" id="21">
                                <p>OverHead Press</p>
                            </a>
                        </div>
                    </div>
                    <div class="font-icon-list col-lg-2 col-md-3 col-sm-4 col-xs-6 col-xs-6">
                        <div class="font-icon-detail">
                            <a href="exercise22" id="22">
                              <p>Pike Press</p>
                            </a>

                        </div>
                    </div>
                    <div class="font-icon-list col-lg-2 col-md-3 col-sm-4 col-xs-6 col-xs-6">
                        <div class="font-icon-detail">
                            <a href="exercise14" id="23">
                               <p>Dips</p>
                            </a>

                        </div>
                    </div>
                    <div class="font-icon-list col-lg-2 col-md-3 col-sm-4 col-xs-6 col-xs-6">
                        <div class="font-icon-detail">
                            <a href="exercise24" id="24">
                               <p>Renegade Row</p>
                            </a>

                        </div>
                    </div>
                    <div class="font-icon-list col-lg-2 col-md-3 col-sm-4 col-xs-6 col-xs-6">
                        <div class="font-icon-detail">
                            <a href="exercise25" id="25">
                                <p>Snatch Grip Low Pull</p>
                            </a>

                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="card-header">
                        <p class="category">
                            <a href="back" id="3">Back Exercises :</a>
                        </p>
                    </div>
                    <div class="font-icon-list col-lg-2 col-md-3 col-sm-4 col-xs-6 col-xs-6">
                        <div class="font-icon-detail">
                            <a href="exercise31" id="31">
                               <p>Pull-Ups</p>
                            </a>

                        </div>
                    </div>
                    <div class="font-icon-list col-lg-2 col-md-3 col-sm-4 col-xs-6 col-xs-6">
                        <div class="font-icon-detail">
                            <a href="exercise32" id="32">
                                <p>Lat Pull-down</p>
                            </a>

                        </div>
                    </div>
                    <div class="font-icon-list col-lg-2 col-md-3 col-sm-4 col-xs-6 col-xs-6">
                        <div class="font-icon-detail">
                            <a href="exercise33" id="33">
                                <p>Deadlifts</p>
                            </a>

                        </div>
                    </div>
                    <div class="font-icon-list col-lg-2 col-md-3 col-sm-4 col-xs-6 col-xs-6">
                        <div class="font-icon-detail">
                            <a href="exercise34" id="34">
                                <p>Bent-Over row</p>
                            </a>

                        </div>
                    </div>
                    <div class="font-icon-list col-lg-2 col-md-3 col-sm-4 col-xs-6 col-xs-6">
                        <div class="font-icon-detail">

                            <a href="exercise35" id="35">
                                <p>Dumbbell Single-arm row</p>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="card-header">
                        <p class="category">
                            <a href="" id="4">Back Exercises :</a>
                        </p>
                    </div>
                    <div class="font-icon-list col-lg-2 col-md-3 col-sm-4 col-xs-6 col-xs-6">
                        <div class="font-icon-detail">
                            <a href="exercise40" id="40">
                               <p>PLank</p>
                            </a>

                        </div>
                    </div>
                    <div class="font-icon-list col-lg-2 col-md-3 col-sm-4 col-xs-6 col-xs-6">
                        <div class="font-icon-detail">
                            <a href="exercise41" id="41">
                               <p>Dumbbell Curl</p>
                            </a>

                        </div>
                    </div>
                </div>



            </div>
        </div>
    </div>
</div>

<script>

  function reply_click(clicked_id)
  {
      alert(clicked_id);
      var ids = clicked_id;
      sessionStorage.setItem("ids", ids);
  }


<!--    var ids = [];-->
<!--    function testJS() {-->
<!--      var element = document.getElementsByTagName("a")[0];-->
<!--      var id = element.id;-->
<!--      windows.print(id);-->
<!--    }-->

<!--    $(function () {-->
<!--      $('a').click(function () {-->
<!--         var elementID = this.id;-->
<!--         console.log(this.id)-->

<!--  });-->
<!--});-->

</script>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}
