

    <div class="sidebar">
      <div class="sidebar-wrapper">

        <ul class="nav">

          <li class="{% if 'index' in segment %} active {% endif %}">
            <a href="index">
              <i class="tim-icons icon-chart-pie-36"></i>
              <p>Home</p>
            </a>
          </li>
          <li class="{% if 'Exercises' in segment %} active {% endif %}">
            <a href="Exercises">
              <i class="tim-icons icon-atom"></i>
              <p>Exercises</p>
            </a>
          </li>

                    
        </ul>
        
      </div>
    </div>
